<main>
  <% data.images.each_with_index do |category_info, ind| %>
  <div class="art-divider container">
    <div class="row art-head-row">
      <div class="rule-col left-col four columns">
        <div class="rule">
          <hr/>
        </div>
      </div>
      <div class="art-main four columns">
        <div class="art-head">
          <div class="svg-pointer svg-pointer-left">
            <%= partial("layouts/ornaments/curly_pointer") %>
          </div>
          <h5><%= category_info.title %></h5>
          <div class="svg-pointer svg-pointer-right">
            <%= partial("layouts/ornaments/curly_pointer") %>
          </div>
        </div>
      </div>
      <div class="rule-col four columns">
        <div class="rule">
          <hr/>
        </div>
      </div>
    </div>
  </div>
  <ul class="og-grid" id="og-grid">
    <% category_info.works.each do |img| %>
    <li>
      <a href="/" 
       data-largesrc="<%= art_image_for(img.num) %>" 
        <% if img.detail %>data-detail="images/art/<%= img.detail %>"<% end %> 
        data-title="<%= img.title %>" 
        data-dims="<%= img.dims %>" 
        data-description="<%= img.description %>">
        <img src="<%= art_thumb_for(img.num) %>" />
      </a>
    </li>
    <% end %>
  </ul>
  <% end %>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= javascript_include_tag 'app' %>
<script>
    $(function() {
      Grid.init();
    });
</script>
